<%- include('./navbar') %>

<main class="bg-gray-50 flex justify-center px-4 py-8 h-screen">
  <section
    class="flex flex-col bg-gray-100 border shadow-lg rounded-lg w-4/5 h-fit max-md:h-fit items-center justify-center"
  >
    <!-- User profile card -->
    <div class="bg-blue-300 border-l-4 border-blue-500 text-blue-800 p-4 rounded-t-lg my-4">
      <p>
        <strong>Hey Faculty!</strong> At the moment, we have nothing much to display over here, but don't worry! Soon we will be adding bunch of other functionalities, stay tuned.
      </p>
    </div>
    <div class="flex gap-4 max-md:flex-col justify-between w-full p-4">
      <div
        class="bg-white rounded-lg shadow-lg w-1/2 max-md:w-full h-1/2 h-fit"
      >
        <!-- Profile Image -->
        <div class="relative flex gap-2 items-center px-4 py-2">
          <div
            class="absolute top-0 left-0 w-full h-1/2 bg-gray-800 rounded-t-lg z-0"
          ></div>
          <img
            src="../images/avatar/bear.png"
            alt="Profile Image"
            class="w-auto h-36 max-md:h-24 max-sm:h-16 rounded-full shadow-lg z-10 border"
          />
          <div class="flex flex-col z-10">
            <h1
              class="text-2xl max-sm:text-lg font-bold text-white font-sans text-wrap"
            >
              <%= facultyData.faculty_full_name %>
            </h1>
            <span class="font-bold flex items-center gap-1 max-sm:text-md"
              ><i class="text-xl las la-envelope"></i
              ><span class="max-sm:text-sm text-wrap">
                <%= facultyData.faculty_email %>
              </span></span
            >
          </div>
        </div>
        <!-- Basic Personal Info -->
        <div class="p-4">
          <!-- Course -->
          <span class="font-bold flex items-center gap-1 max-sm:text-md"
            ><i class="text-xl las la-university"></i
            ><span class="max-sm:text-sm text-wrap">
              <%= facultyData.course_name %>
            </span></span
          >
          <!-- Branch -->
          <span class="font-bold flex items-center gap-1 max-sm:text-md"
            ><i class="text-xl las la-school"></i
            ><span class="max-sm:text-sm text-wrap">
              <%= facultyData.branch_name %>
            </span></span
          >
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-lg h-fit w-1/2 max-md:w-full">
        <h2
          class="text-lg font-bold mb-2 bg-gray-800 text-white p-4 rounded-t-lg"
        >
          Statistics
        </h2>
        <!-- Content of Academic Info goes here -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
          <!-- Course -->
          <div class="shadow-md rounded-md border hover:border-black">
            <h1 class="px-2 py-1 bg-gray-800 text-white font-bold rounded-t-md">
              Students Verified:
            </h1>
            <p class="m-2 font-semibold"><%= countResult %></p>
          </div>

          <!-- Branch -->
          <div class="shadow-md rounded-md border hover:border-black">
            <h1 class="px-2 py-1 bg-gray-800 text-white font-bold rounded-t-md">
              Account Created:
            </h1>
            <p class="m-2 font-semibold"><%= new Date().toDateString() %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../partials/footer') %>
